<div class = 'container footer'>
  <div class="row fbg">
    <div class="col-sm-4">
      <h3><span>About</span></h3>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
        Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere
        nunc justo tempus leo. llorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat
        bibendum. <%= link_to 'Learn more...', about_path%></p>
    </div>
    <div class="col-sm-4">
      <h3 class="star"><span>Categories</span></h3>
      <ul class="list-group list-group-flush sb_menu ft_cat">
        <li class = "list-group-item"><a href="#">Education</a></li>
        <li class = "list-group-item"><a href="#">Entertainment</a></li>
        <li class = "list-group-item"><a href="#">Sports</a></li>
        <li class = "list-group-item"><a href="#">Fashion</a></li>
        <li class = "list-group-item"><a href="#">News</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h3>Contact</h3>
      <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue.</p>
      <p><a href="#">support@yoursite.com</a></p>
      <p>+1 (123) 444-5677<br />
        +1 (123) 444-5678</p>
      <p>Address: 123 TemplateAccess Rd1</p>
    </div>
  </div>
</div>
