
<!-- START PAGE SOURCE -->

<% @articles.each do |article| %> 
  <div class="article"> 
    <h3><%= article.title %></h3>
    <p><span class="date">March 16, 2018</span> &nbsp;|&nbsp; Posted by <a href="#">Owner</a> &nbsp;|&nbsp; Filed under <a href="#">templates</a>, <a href="#">internet</a></p>
    <p><%= article.content %></p>
    <p class="spec"><a href="#" class="rm">Read more</a> &nbsp;|&nbsp; <a href="#" class="com">Comments (3)</a></p>
  </div>
<% end %>

<style>
</style>