<p id = "creationNotice"><%= notice %></p>

<h3><%= @article.title %></h3>

<p><%= @article.content %></p>

<%= render 'comment/form', comment:@comment, article_id: @article.id, action_path:comment_new_path %>

<style>
  #creationNotice {
    color:green;
    text-align:center;
  }
</style>
